/**
  LTR skin for basis:basisFolder template
*/
	.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .FieldLabel {
		padding-right: 12px;
		text-align: left;
		font-size: 18px;
		width:25%;
	}
	.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid.FieldComponent {
	    color: #000FF0;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	 }
	
	.FieldComponent{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	 }
	
	.folderNummer {
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	 }
	.folderComments{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	     }
     
     .folderStatus{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     .folderExternalReference{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     .folderInternSender{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .RRN{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .BasisDate{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .folderLanguage {
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     .folderType {
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }    