/**
  RTL skin for basis:basisDocument template
*/
	.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .FieldLabel {
	padding-right: 12px;
	text-align: left;
	font-size: 18px;
	width:25%;
	}
	.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid.FieldComponent {
	    color: #000FF0;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	 }
	
	.FieldComponent{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	 }
	 
	.BasisComments{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	}
     
	.docId {
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
	 }

     
     .docInOut {
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     .docType{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     .docReference{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .docKeywords{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .BasisDate{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .docInternSender {
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .docPredefinedExternSender{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     .docExternSenderName{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
    .docExternSenderAdress{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .docExternSenderZipCode{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .docExternSenderCity{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     
     .docExternSenderCountry{
	    color: #0000FF;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 12px;
	    text-align: left;
     }
     